[mysqld]

skip-log-bin
binlog_expire_logs_seconds=1
innodb_stats_on_metadata=0
optimizer_search_depth=0
sort_buffer_size=1M
read_rnd_buffer_size=1M

innodb_strict_mode=0
innodb_file_per_table = 0
innodb_flush_method=O_DIRECT

innodb_buffer_pool_size = 16G
innodb_log_buffer_size = 256M
innodb_log_file_size = 2G
innodb_write_io_threads=4
innodb_io_capacity=1000
innodb_buffer_pool_instances=16
join_buffer_size=262144
